.treeTitle{
	position:relative;
}
.treeTitle h5{
	line-height:40px;
	font-size:1.6rem;
	font-weight:normal;
	color:#fff;
	background:#2cace2;
	padding-left:10px;
}
.treeTitle button{
	position:absolute;
	right:20px;
	top:5px;
	font-size:1.6rem;
	background:none;
	border:none;
}
.cataTree{
	width:400px;
}
.cataTree .el-tree-node__label{
	font-size:1.6rem;
}