/*
公共头部
*/
.header{ background-color: rgb(255, 147, 2);height: 1.877333rem; }
.header .return{background: url("./icon/left.png") no-repeat; background-size: 100%; width: 0.388267rem;height: 0.661333rem;position: absolute;left:0.469333rem;top:0.725333rem;}
.header .title{
  margin-left: 42%;
  float: left;
  text-align: center;
  color: rgb(247,247,247);
  font-size: 0.682667rem;
}
.header .headerTitle{ float: left;margin-top: 3%;  font-size: 0.682667rem;margin-left: 42%;color:#fff;}
.header .message{
  float: right;
  margin-right: 4%;
}
.header .message img{ height: 0.810667rem; }
