/*
公共头部
*/
.el-header {
  height : 100px;
  background : url('./header_bg.jpg') no-repeat;
}
.el-header .logo {
  margin-top : 22.5px;
  margin-left : 3%;
}
.el-header .logo img{
//width : 10rem;
}
.el-header .menu {
  margin-top : 35px;
  text-align : center;
  margin-left : 15%;
}
.el-header .menu a{
  font-size: 1.8rem;
  color: #ffffff;
  font-weight : 500;
}
.el-header .menu a.act{
  border-bottom: 1px solid white;
}
.el-header .adminInfo{
  margin-top : 35px;
  text-align : right;
  width: 10.5%;
}
.el-header .adminInfo,.el-header .adminInfo a{
  font-size: 1.4rem;
  color: #ffffff;
  font-weight : 500;
}
.el-header .adminInfo .userName{

}
