/*
公共底部
*/
.footer {
  background-color: #0b487c;
  color: #fff;
  text-align: center;
  padding:25px 0;
  height:88px !important;
  font-size:12px;
}
.footerFixed{
  position:fixed;
  width:100%;
  bottom:0;
  left:0
}
